.left {
	margin-left: 100px;
}

.form-check-input[type="checkbox"]:checked {
	background-color: #FFC107;
}

.right {
	margin-top: 30px;
	margin-right: 100px;
}

.btn-active {
	background-color: red;
	color: #fff;
}